@charset "UTF-8";
@use "variables" as *;

// ---------------------------------------------
//  base
// ---------------------------------------------

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: $font-mplus;
  font-size: var(--fz16);
  font-weight: 400;
  line-height: 1.6;
  color: $color-body;
}

.wrap {
  // min-width: 1200px;
  margin: auto;

  @include max-mq {
    width: 100%;
    min-width: auto;
  }
}

.container {
  box-sizing: border-box;
  width: min(1550px, 100%); // デザインの幅 + padding
  padding: 0 min(4vw, 25px);
  margin: auto;
}

main {
  display: block;

  // for ipad portrait mode

  @media (min-width: 768px) and (max-width: 769px) and (orientation: portrait) {
    min-height: 95vh;
  }
}

// グーグルマップ
.googlemap {
  position: relative;

  &::before {
    display: block;
    padding-top: 46%; // 【マップの高さ】高さ/幅*100%
    content: "";
  }

  iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  @include max-mq {
    &::before {
      padding-top: 450px;
    }
  }
}

// ---------------------------------------------
//  ヘッダー関連 header
// ---------------------------------------------

.header {
  small {
    display: block;
    font-size: var(--fz14);
    font-weight: bold;
    color: #fff;
    background: $color-blue;

    .container {
      padding: 10px min(4vw, 25px);
    }
  }

  h1 {
    span {
      display: block;
      margin-block: 0 5px;
      font-size: var(--fz10);
      font-weight: bold;
    }

    a {
      display: block;
    }
  }

  // .header--inner
  &--inner {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: min(1550px, 100%);
    padding: 20px min(4vw, 25px);
    margin: auto;

    @media (width <= 1280px) {
      gap: 15px;
      justify-content: center;
    }

    @include tb-mq {
      flex-direction: column;
    }
  }

  // .header--btn
  &--btn {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;

    a {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 350px;
      padding: 15px 0;
      font-size: var(--fz23);
      font-weight: 800;
      line-height: 1.5;
      color: #fff;
      cursor: pointer;
      background: url(../img/common/icon_mail.svg) no-repeat left 18% bottom 25%/24px 16px, #fa9315;
      border-radius: 1000px;
      transition: all 0.3s;

      &:last-child {
        padding: 10px 0;
        font-size: var(--fz30);
        color: #f8ff36;
        background: url(../img/common/icon_tel.svg) no-repeat left 8% top 28% / 35px, #ff0041;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    span {
      margin-right: 15px;
      font-size: var(--fz16);
      font-weight: 500;
      color: #fff;
    }

    @include max-mq {
      .header--inner & {
        gap: 5px;

        a {
          width: 100%;
          padding: 15px 0;
          font-size: var(--fz20);
          background: #fa9315;

          &:last-child {
            padding: 11px 0;
            font-size: var(--fz30);
            line-height: 1.3;
            background: #ff0041;
          }
        }

        span {
          margin-right: 0;
          font-size: var(--fz18);
        }
      }
    }
  }

  // .header--menu
  &--menu {
    background: $color-blue;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      align-items: center;
      justify-content: center;
      padding: 25px 0;
      font-size: var(--fz20);
      font-weight: 500;
      color: #fff;
    }

    @media (width >= 1024px) {
      a {
        position: relative;
        padding-bottom: 5px;

        &::before {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          content: "";
          background: #fff;
          transition: transform 0.3s;
          transform: scale(0, 1);
          transform-origin: right top;
        }

        &:hover {
          &::before {
            transform: scale(1, 1);
            transform-origin: left top;
          }
        }
      }
    }

    @include max-mq {
      display: none;
    }
  }

  @include max-mq {
    small {
      font-size: var(--fz12);

      .container {
        padding: 15px min(4vw, 25px);
        margin: 0;
      }
    }
  }
}

//スクロールで出現するヘッダー
.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1111111111;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  background: rgb(255 255 255 / 95%);
  box-shadow: 0 3px 18px rgb(0 0 0 / 25%);

  // デフォルトは transition 無し
  transition: none;
  transform: translateY(-100%);
  will-change: transform;

  &.is-ready {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    transition-property: transform;
  }

  &.is-visible.is-ready {
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    transition-duration: 640ms;
    transform: translateY(0);
  }
}


// ---------------------------------------------
//  グローバルナビゲーション関連 gnav
// ---------------------------------------------

.gnav {
  position: fixed;
  top: 0;
  right: -110%;
  z-index: 9999999;
  display: block;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: $color-blue;
  transition: 0.5s;

  ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 30% 0 0;
    margin-bottom: 20%;
  }

  a {
    color: #fff;
  }

  @include max-mq {
    ul {
      padding: 0;
      margin-bottom: 15%;
      font-size: var(--fz18);
    }

    .container {
      padding: 30% min(4vw, 25px);
    }
  }
}

/* メニューが開いた時 */
.gnav.js-open {
  right: 0%;
}

/* メニューボタン */
.gnav_btn {
  display: none;

  @include max-mq {
    position: fixed;
    top: 13px;
    right: 10px;
    z-index: 99999999;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: #0071ff;
    border: none;
    border-radius: 50%;
  }

  // .gnav_btn--line
  &--line {
    position: absolute;
    right: 15px;
    display: block;
    width: 30px;
    height: 1px;
    background: #fff;
    transition: 0.3s ease-in-out;

    &:nth-child(1) {
      top: 15px;

      .js-open & {
        top: 25px;
        right: 17px;
        width: 25px;
        transform: rotate(-45deg);
      }
    }

    &:nth-child(2) {
      top: 23px;

      .js-open & {
        opacity: 0;
      }
    }

    &:nth-child(3) {
      top: 31px;

      .js-open & {
        top: 25px;
        right: 17px;
        width: 25px;
        transform: rotate(45deg);
      }
    }
  }

  // .gnav_btn--txt
  &--txt {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 10px;
    color: #fff;
  }
}


// ---------------------------------------------
//  フッター関連 footer
// ---------------------------------------------

.footer {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: flex-end;
    width: 510px;
    font-size: var(--fz18);
    font-weight: 500;
  }

  .container {
    width: min(1050px, 100%);
    padding: 60px min(4vw, 25px);

    > div {
      display: flex;
      flex-wrap: wrap;
      gap: 148px;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
    }
  }

  // .footer--inner
  &--inner {
    background: #f4fafe;
  }

  // .footer--logo
  &--logo {
    a {
      display: block;
    }

    small {
      display: block;
      font-size: var(--fz10);
      font-weight: bold;
    }
  }

  // .footer--copy
  &--copy {
    padding: 10px;
    line-height: 1;
    color: #fff;
    text-align: center;
    background: #00a2f0;
  }

  @include tb-mq {
    ul {
      gap: 15px;
      justify-content: center;
      width: 100%;
      font-size: var(--fz16);
    }

    address {
      display: block;
    }

    .container {
      > div {
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}


/* フッターの追従ボタン */
.footer_btn_fixed {
  display: none;

  @include max-mq {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;

    p {
      width: 100%;
      margin: 0;
    }

    > p + p {
      border-left: 1px solid #fff;
    }

    a {
      display: block;
      padding: 1.6rem;
      font-size: 18px;
      font-weight: 700;
      color: #fff;
      text-align: center;
      text-decoration: none;
    }

    // .footer_btn_fixed--mail
    &--mail {
      a {
        background: linear-gradient(45deg, #ffad31, #ff845e);
      }
    }

    // .footer_btn_fixed--tel
    &--tel {
      a {
        background: linear-gradient(45deg, #ff3131, #ff5e5e);
      }
    }

    &.is-active {
      visibility: visible;
      opacity: 1;
    }
  }
}
