@charset "UTF-8";
@use "../variables"as *;

// ---------------------------------------------
//  contact_importフォルダを読み込む
// ---------------------------------------------

// contact form
@forward "../import/form_monkey";

// エラーメッセージ用ツールチップ

@forward "../import/form-tooltip";

// ---------------------------------------------
//  contact用の追加クラス
// ---------------------------------------------


.contact {
  // .contact--lead
  &--lead {
    margin-bottom: 30px;
    font-size: var(--fz18);
    font-weight: 700;
    text-align: center;

    &.-supplement {
      margin-bottom: 60px;
      font-size: var(--fz16);
      font-weight: 400;
    }
  }
}

#loading {
  display: none;
}

.thanks {
  p {
    margin-bottom: 15px;
  }

  // .thanks--inner
  &--inner {
    text-align: center;
  }
}
