@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  トップ専用
// ---------------------------------------------

.top_mv {
  position: relative;

  .swiper-pagination {
    bottom: 5px !important;
  }
}

.top_mv_01 {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding: 0 min(4vw, 25px);
  }

  li {
    box-sizing: border-box;
    width: 290px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;

    span {
      position: relative;

      &::after {
        position: absolute;
        top: 50%;
        left: -35px;
        display: inline-block;
        width: 50px;
        height: 50px;
        content: "";
        background: url(../img/top/icon_check.svg) no-repeat left 11px center / 15px;
        transform: translateY(-50%);
      }
    }
  }

  //.top_mv_01--contents
  &--contents {
    position: absolute;
    top: 50%;
    left: 33%;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    padding: 0 min(4vw, 25px);
    margin: auto;
    transform: translate(-50%, -50%);

    @media (width <= 1380px) {
      left: 35%;
    }

    @media (width <= 1280px) {
      left: 40%;
    }

    @include tb-mq {
      top: 50%;
      left: 50%;
      max-width: none;
      padding: 0 5px;
    }
  }

  //.top_mv_01--lead
  &--lead {
    position: relative;
    display: block;
    width: fit-content;
    padding: 0 60px;
    margin: auto;
    font-size: 2.7604166667vw;
    font-weight: bold;
    color: #fff;
    border-bottom: 3px solid #fff;

    &::before,
    &::after {
      position: absolute;
      bottom: -17px;
      width: 3px;
      height: 30px;
      content: "";
      background: #fff;
      transform: rotate(30deg);
    }

    &::before {
      right: 30px;
    }

    &::after {
      right: 15px;
    }

    span {
      font-size: min(var(--fz48), 2.5vw);
    }

    @include tb-mq {
      padding: 0 15px;
      font-size: 7vw;
    }
  }

  //.top_mv_01--mark
  &--mark {
    display: flex;
    align-items: center;
    align-self: self-end;
    justify-content: center;
    width: 110px;
    height: 110px;
    font-size: var(--fz21);
    font-weight: 700;
    color: #fff;
    background: #ff0041;
    border: 3px solid #fff;
    border-radius: 50%;

    @media (width <= 1480px) {
      width: 100px;
      height: 100px;
      font-size: var(--fz22);
    }

    @media (width <= 1280px) {
      width: 80px;
      height: 80px;
      font-size: var(--fz16);
    }

    @include tb-mq {
      width: 17vw;
      height: 17vw;
      font-size: 3.5vw;
    }

    @include max-mq {
      width: 60px;
      height: 60px;
      font-size: 14px;
      line-height: 1.3;
    }
  }

  //.top_mv_01--dayprice
  &--dayprice {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    width: fit-content;
    padding: 0 40px;
    margin: 20px auto 0;
    background: linear-gradient(to bottom, transparent 0%, transparent 25%, rgb(255 255 255 / 90%) 25%, rgb(255 255 255 / 90%) 90%, transparent 90%, transparent 100%);

    p {
      font-size: var(--fz35);
      font-weight: 900;
      color: $color-blue2;
    }

    b {
      font-size: var(--fz92);
      font-weight: 900;
      line-height: 1;
      color: #ff0041;
      -webkit-text-stroke-width: 0.15vw;
      -webkit-text-stroke-color: #fff;
    }

    @media (width <= 1480px) {
      p {
        font-size: var(--fz35);
      }

      b {
        font-size: var(--fz85);
      }
    }

    @media (width <= 1280px) {
      padding: 0 20px;

      p {
        font-size: var(--fz25);
      }
    }

    @include tb-mq {
      gap: 5px;
      padding: 0 5px;

      p {
        font-size: 4vw;
      }

      b {
        font-size: 14vw;
        -webkit-text-stroke-width: 0.5vw;
      }
    }

    @include max-mq {
      background: linear-gradient(to bottom, transparent 0%, transparent 45%, rgb(255 255 255 / 90%) 45%, rgb(255 255 255 / 90%) 90%, transparent 90%, transparent 100%);
    }
  }

  //.top_mv_01--one
  &--one {
    font-size: var(--fz45);

    .top_mv_01--weekprice & {
      font-size: var(--fz110);
    }


    @media (width <= 1450px) {
      .top_mv_01--weekprice & {
        font-size: var(--fz90);
      }
    }

    @include tb-mq {
      font-size: var(--fz70);
    }

    @include max-mq {
      font-size: 6vw;

      .top_mv_01--weekprice & {
        font-size: 9vw;
      }
    }
  }

  //.top_mv_01--yen
  &--yen {
    font-size: 2.8vw;
    font-weight: 900;
    color: #ff0041;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;

    .top_mv_01--weekprice & {
      font-size: 3.5vw;
      color: #f8ff36;
      -webkit-text-stroke-width: 0;
      -webkit-text-stroke-color: unset;
    }

    @media (width <= 1480px) {
      font-size: var(--fz50);
    }

    @include max-mq {
      font-size: 7.5vw;
      -webkit-text-stroke-width: 0.5vw;

      .top_mv_01--weekprice & {
        font-size: 8vw;
      }
    }
  }

  //.top_mv_01--taxin
  &--taxin {
    font-size: 1.4vw;

    .top_mv_01--weekprice & {
      font-size: var(--fz45);
      color: #fff;
    }

    @include max-mq {
      font-size: 3vw;

      .top_mv_01--weekprice & {
        font-size: 4vw;
      }
    }
  }

  //.top_mv_01--weekprice
  &--weekprice {
    position: relative;
    width: fit-content;
    margin: auto;
    font-size: var(--fz100);
    font-weight: 900;
    color: #fff;

    strong {
      text-shadow: 0 0 30px rgb(255 255 255 / 80%);
      background: linear-gradient(to bottom, transparent 0%, transparent 70%, #00234f 70%, #00234f 100%);
    }

    b {
      font-size: var(--fz165);
      font-weight: 900;
      color: #f8ff36;
    }


    @media (width <= 1680px) {
      font-size: var(--fz80);
    }

    @media (width <= 1480px) {
      font-size: var(--fz70);

      b {
        font-size: var(--fz120);
      }
    }

    @include tb-mq {
      margin-bottom: 30px;
      font-size: 6vw;

      b {
        font-size: 15.5vw;
      }
    }

    @include max-mq {
      strong {
        background: linear-gradient(to bottom, transparent 0%, transparent 40%, #00234f 40%, #00234f 100%);
      }
    }
  }

  //.top_mv_01--dots
  &--dots {
    position: relative;

    &::before {
      position: absolute;
      top: 5px;
      right: 0;
      left: 0;
      padding-top: 25px;
      margin: auto;
      content: "";
      background: radial-gradient(circle 20px, #fa9315 50%, transparent 50%);
    }

    @media (width <= 1200px) {
      &::before {
        top: -5px;
      }
    }

    @include max-mq {
      &::before {
        background: radial-gradient(circle 2vw, #fa9315 50%, transparent 50%);
      }
    }
  }

  //.top_mv_01--bg
  &--bg {
    img {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1920 / 1000;
    }

    @media (width <= 1200px) {
      img {
        aspect-ratio: 1920 / 1150;
        object-position: 65%;
      }
    }


    @include tb-mq {
      img {
        aspect-ratio: 1920 / 3000;
        object-position: center;
      }
    }
  }

  @media (width <= 1400px) {
    ul {
      gap: 10px;
    }
  }

  @media (width <= 1280px) {
    li {
      width: 34%;
    }
  }

  @include tb-mq {
    ul {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    li {
      width: 55%;
      padding: 10px 0;
      background: url(../img/top/icon_check.svg) no-repeat left 6vw center / 15px;

      span {
        &::after {
          content: none;
        }
      }
    }
  }

  @include max-mq {
    li {
      width: 100%;
      font-size: var(--fz14);
      background: url(../img/top/icon_check.svg) no-repeat left 6vw center / 15px;
    }
  }
}

.top_mv_02 {
  strong {
    display: block;
    margin-bottom: 10px;
    font-size: 2.34375vw;
    font-weight: 800;
    color: #ff0041;
    text-align: center;
  }

  h2 {
    display: flex;
    align-items: baseline;
    width: fit-content;
    margin: auto;
    margin-block: 0 10px;
    font-size: 3.3854166667vw;
    font-weight: 900;
    color: #00234f;
  }

  b {
    font-size: 8.333333333333332vw;
    font-weight: 900;
    line-height: 1;
    color: #ff0041;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #fff;
  }

  //.top_mv_02--contents
  &--contents {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 100%;
    padding: 0 min(4vw, 25px);
    transform: translate(-50%, -50%);

    img {
      display: block;
      margin: auto;
    }

    .top_mv_01--one {
      font-size: 4.427083333333334vw;
    }

    .top_mv_01--yen {
      font-size: 4.6875vw;
      -webkit-text-stroke-width: 5px;
    }

    .top_mv_01--taxin {
      font-size: 2.604166666666667vw;
    }

    @media (width <= 1280px) {
      img {
        width: 45%;
      }

      .top_mv_01--yen {
        font-size: 7vw;
      }

      .top_mv_01--one {
        font-size: 6vw;
      }
    }

    @include tb-mq {
      img {
        width: 70%;
      }

      .top_mv_01--one {
        font-size: 11vw;
      }

      .top_mv_01--taxin {
        font-size: 5vw;
      }
    }

    @include max-mq {
      .top_mv_01--yen {
        font-size: 11vw;
        -webkit-text-stroke-width: 3px;
      }
    }
  }

  //.top_mv_02--lead
  &--lead {
    width: fit-content;
    padding: 10px 30px 10px 90px;
    margin: 0 auto 30px;
    font-size: 1.8229166666666667vw;
    font-weight: 800;
    color: #008cfd;
    background: url(../img/top/icon_car.svg) no-repeat left 4% center / 51px 32px, #fff;
    border: 3px solid #008cfd;
    border-radius: 1000px;

    @include max-mq {
      padding: 10px 20px 10px 60px;
      margin: 0 auto 20px;
      font-size: 4vw;
      background: url(../img/top/icon_car.svg) no-repeat left 4% center / 10%, #fff;
    }
  }

  //.top_mv_02--marker
  &--marker {
    padding: 0 25px;
    background: linear-gradient(to bottom, transparent 0%, transparent 50%, #fff100 50%, #fff100 90%, transparent 90%, transparent 100%);

    @include max-mq {
      padding: 0 15px;
    }
  }

  //.top_mv_02--txt
  &--txt {
    margin-bottom: 40px;
    font-size: var(--fz25);
    font-weight: 700;
    text-align: center;

    span {
      &:first-of-type {
        color: #fa9315;
      }

      &:last-of-type {
        color: #008cfd;
      }
    }

    @media (width <= 1280px) {
      margin-bottom: 30px;
    }

    @include max-mq {
      font-size: 4.5vw;
    }
  }

  //.top_mv_02--bg
  &--bg {
    img {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1920 / 1000;
    }

    @media (width <= 1200px) {
      img {
        aspect-ratio: 1920 / 1150;
      }
    }

    @include tb-mq {
      img {
        aspect-ratio: 1920 / 3000;
      }
    }
  }

  @media (width <= 1280px) {
    h2 {
      font-size: 4.5vw;
    }

    b {
      font-size: 11vw;
    }
  }

  @include tb-mq {
    h2 {
      flex-direction: column;
      align-items: center;
      font-size: 8vw;
    }

    strong {
      font-size: 5vw;
    }

    b {
      font-size: 20vw;
      -webkit-text-stroke-width: 3px;
    }
  }
}

.top_mv_03 {
  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1920 / 1000;
  }

  @media (width <= 1200px) {
    img {
      aspect-ratio: 1920 / 1150;
    }
  }

  @include tb-mq {
    img {
      aspect-ratio: 1920 / 3000;
    }
  }
}

.top_greet {
  img {
    position: relative;
    z-index: 1;
    display: block;
    margin: auto;
  }

  p {
    text-align: center;
  }

  .bg_frame {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      display: inline-block;
      content: "";
    }

    &::before {
      top: -75px;
      left: -75px;
      width: 224px;
      aspect-ratio: 224/163;
      background: url(../img/top/greet_decoration_left.png) no-repeat center/contain;
    }

    &::after {
      right: -85px;
      bottom: -75px;
      width: 209px;
      aspect-ratio: 209/177;
      background: url(../img/top/greet_decoration_right.png) no-repeat center/contain;
    }
  }

  // .top_greet--image
  &--image {
    position: relative;
    margin-bottom: 40px;

    &::before,
    &::after {
      position: absolute;
      display: inline-block;
      content: "";
    }

    &::before {
      bottom: 0;
      left: -30px;
      width: 140px;
      aspect-ratio: 140/222;
      background: url(../img/top/greet_star_left.png) no-repeat center/contain;
    }

    &::after {
      right: 0;
      bottom: 0;
      width: 117px;
      aspect-ratio: 117/201;
      background: url(../img/top/greet_star_right.png) no-repeat center/contain;
    }
  }

  // .top_greet--ttl
  &--ttl {
    position: relative;
    width: fit-content;
    padding: 0 15%;
    margin: 0 auto 40px;
    font-size: var(--fz40);
    font-weight: 900;
    text-align: center;

    &::before,
    &::after {
      position: absolute;
      display: inline-block;
      content: "";
    }

    &::before {
      top: 0;
      left: 0;
      width: 83px;
      aspect-ratio: 83/72;
      background: url(../img/top/greet_blossoms.png) no-repeat center/contain;
    }

    &::after {
      right: 0;
      bottom: 0;
      width: 83px;
      aspect-ratio: 83/72;
      background: url(../img/top/greet_blossoms.png) no-repeat center/contain;
    }
  }

  // .top_greet--red
  &--red {
    color: $color-red;
  }

  // .top_greet--num
  &--num {
    font-size: var(--fz65);
  }

  @include tb-mq {
    .bg_frame {
      &::before {
        top: 5px;
        left: 20px;
        width: 155px;
      }

      &::after {
        right: 15px;
        bottom: 9px;
        width: 140px;
      }
    }
  }

  @include max-mq {
    .bg_frame {
      padding: 120px 40px;
    }
  }
}

.top_about {
  width: 90%;
  margin: auto;
  background: url(../img/top/about_bg.png) no-repeat top 65% center / contain;

  // .top_about--inner
  &--inner {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
    padding: 60px 40px;
    margin: auto;
    font-weight: 700;
    text-align: center;
    background: #fff;
    border: 3px solid #84bcff;
    border-radius: 10px;

    &::before {
      position: absolute;
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
      z-index: -1;
      content: "";
      background: #d5e8ff;
      border-radius: 10px;
    }
  }

  // .top_about--txt
  &--txt {
    margin-top: 30px;
    font-size: var(--fz20);
    font-weight: 700;
    color: #005bac;

    &.-orange {
      font-size: var(--fz25);
      font-weight: 800;
      color: #fa9315;
    }
  }

  // .top_about--offer
  &--offer {
    position: relative;
    margin-bottom: 10px;

    @media (width >= 1025px) {
      &::before,
      &::after {
        position: absolute;
        display: inline-block;
        content: "";
      }

      &::before, {
        top: 0;
        left: 0;
        width: 150px;
        aspect-ratio: 150/119;
        background: url(../img/top/about_decoration_left.png) no-repeat center /contain;
      }

      &::after {
        top: 0;
        right: 0;
        width: 171px;
        aspect-ratio: 171/123;
        background: url(../img/top/about_decoration_right.png) no-repeat center /contain;
      }
    }
  }

  // .top_about--num
  &--num {
    display: block;
    margin-top: 40px;
    font-size: var(--fz30);
    font-weight: 800;
    line-height: 0.1;

    span {
      font-size: var(--fz40);
    }

    @include max-mq {
      line-height: 1.6;
    }
  }

  // .top_about--price
  &--price {
    position: relative;
    padding: 0 40px;
    font-size: var(--fz45);
    font-weight: 900;
    line-height: 1.4;
    color: #ff0041;
    background: linear-gradient(to bottom, transparent 0%, transparent 50%, #fff100 50%, #fff100 90%, transparent 90%, transparent 100%);

    span {
      position: relative;
      font-size: var(--fz80);
    }

    &::before {
      position: absolute;
      top: -30px;
      left: 10px;
      display: inline-block;
      width: 35px;
      aspect-ratio: 35 / 37;
      content: "";
      background: url(../img/top/about_emphasis.png) no-repeat center / contain;
    }

    @include max-mq {
      line-height: 1;
    }
  }

  // .top_about--tax
  &--tax {
    display: inline-block;
    font-size: var(--fz30) !important;
  }
}

.top_cv {
  padding: 60px 0;
  background: #002978;

  p {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 30px;
    font-size: var(--fz25);
    font-weight: 800;
    line-height: 1.6;
    color: #fff;
    text-align: center;
  }

  .container {
    position: relative;
    box-sizing: border-box;
    width: min(1350px, 100%);
    padding: 0 min(4vw, 25px);
    margin: auto;

    &::before {
      position: absolute;
      bottom: -61px;
      left: 0;
      display: inline-block;
      width: 300px;
      aspect-ratio: 300 / 387;
      content: "";
      background: url(../img/top/cv_catch.png) no-repeat center / contain;
    }
  }

  @media (width <= 1350px) {
    padding: 60px 0 240px;

    .container {
      &::before {
        position: absolute;
        bottom: -240px;
        left: 50%;
        display: inline-block;
        width: 180px;
        aspect-ratio: 300 / 387;
        content: "";
        background: url(../img/top/cv_catch.png) no-repeat center / contain;
        transform: translateX(-50%);
      }
    }
  }

  @media (width >= 1025px) {
    p {
      &::before,
      &::after {
        width: 1px;
        height: 63px;
        content: "";
        background: #fff;
      }

      &::before {
        margin-right: 30px;
        transform: rotate(-30deg);
      }

      &::after {
        margin-left: 30px;
        transform: rotate(30deg);
      }
    }
  }
}

.top_introduction {
  article {
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    padding: 80px 30px;
    text-align: center;
    background: #fff;
  }

  h3 {
    margin-bottom: 15px;
    font-size: var(--fz25);
    font-weight: 800;
    color: #2d6bbb;
    text-align: center;
  }

  img {
    display: block;
    margin: auto;
  }

  // .top_introduction--circle
  &--circle {
    position: absolute;
    top: 40px;
    left: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: #28559a;
    border-radius: 50%;

    @media (width <= 1150px) {
      top: 20px;
      left: 20px;
      width: 80px;
      height: 80px;
      font-size: var(--fz13);
    }
  }

  // .top_introduction--lead
  &--lead {
    margin-bottom: 60px;
    font-size: var(--fz18);
    text-align: center;
  }

  // .top_introduction--price
  &--price {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 100%;
    max-width: 385px;
    margin: auto;
    font-weight: 800;

    dt {
      width: 100%;
      max-width: 165px;
      font-size: var(--fz23);
      color: #fff;
      text-align: center;
      background: #fa9315;
    }

    dd {
      font-size: var(--fz30);
    }

    span {
      font-size: var(--fz18);
    }

    &.-month {
      dt {
        background: #008cfd;
      }
    }
  }

  // .top_introduction--dot
  &--dot {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dashed #333;
  }

  // .top_introduction--list
  &--list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto 80px;

    a {
      width: 100%;
      max-width: 300px;
      padding: 15px 25px 15px 0;
      margin: auto;
      font-size: var(--fz18);
      font-weight: 800;
      color: #fff;
      background: url(../img/top/icon_arrow.png) no-repeat center right 25px / 25px, #0f30df;
      border-radius: 1000px;
    }

    @include tb-mq {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .top_introduction--txt
  &--txt {
    font-size: var(--fz18);
    text-align: center;
  }
}

.top_flow {
  ol {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto 80px;
  }

  li {
    position: relative;
    padding: 60px 0;
    background: #f5f9fe;
    border: 1px solid #28559a;

    &:not(:last-child) {
      &::after {
        position: absolute;
        top: 50%;
        right: -45px;
        display: inline-block;
        width: 28px;
        aspect-ratio: 28 / 25;
        content: "";
        background: url(../img/top/icon_triangle.png) no-repeat center/contain;
        transform: translateY(-50%);
      }
    }
  }

  img {
    display: block;
    margin: 0 auto 25px;
  }

  p {
    font-size: var(--fz20);
    font-weight: 800;
    line-height: 1.4;
    color: #28559a;
    text-align: center;
  }

  // .top_flow--lead
  &--lead {
    margin-bottom: 90px;
    font-size: var(--fz18);
    text-align: center;
  }

  // .top_flow--circle
  &--circle {
    position: absolute;
    top: -25px;
    left: -25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    padding: 10px;
    font-size: var(--fz25);
    font-weight: bold;
    line-height: 1.3;
    color: #fff;
    text-align: center;
    background: #28559a;
    border-radius: 50%;

    span {
      font-size: var(--fz16);
    }

    @include max-mq {
      top: 10px;
      left: 10px;
      width: 55px;
      height: 55px;
      font-size: var(--fz20);
      line-height: 1.1;

      span {
        font-size: var(--fz14);
      }
    }
  }

  @include tb-mq {
    ol {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    li {
      width: 100%;
      max-width: 300px;

      &:not(:last-child) {
        &::after {
          top: unset;
          bottom: -45px;
          left: 50%;
          transform: translate(-50%, 0) rotateZ(90deg);
        }
      }
    }
  }
}

.top_pr {
  img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .container {
    width: min(1350px, 100%);
  }

  // .top_pr--txt
  &--txt {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    max-width: 740px;
    padding: 40px;
    font-size: var(--fz18);
    font-weight: 700;
    background: rgb(255 255 255 / 90%);

    &.-orange {
      color: #fa9315;
    }

    &.-blue {
      color: #008cfd;
    }
  }

  // .top_pr--inner
  &--inner {
    position: relative;
  }

  // .top_pr--orange
  &--orange {
    color: #fa9315;
  }

  // .top_pr--blue
  &--blue {
    color: #008cfd;
  }

  @include tb-mq {
    .ttl {
      flex-wrap: wrap;
    }
  }
}

.top_reason {
  h3 {
    padding: 5px 0 5px 30px;
    margin-bottom: 15px;
    font-size: var(--fz18);
    font-weight: 700;
    color: #2d6bbb;
    background: url(../img/top/icon_check.png) no-repeat left center / 25px;
    border-bottom: 1px solid #dfdfdf;
  }

  li {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  @include max-mq {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.top_voice {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  li {
    width: 100%;
    max-width: 470px;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16.1%);
  }

  dt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: var(--fz20);
    font-weight: 700;
    border-bottom: 1px solid #d1d1d1;

    span {
      padding: 3px 10px;
      font-size: var(--fz14);
      color: #fff;
      background: #28559a;
      border-radius: 5px;
    }
  }

  // .top_voice--lead
  &--lead {
    margin-bottom: 60px;
    font-size: var(--fz18);
    text-align: center;
  }
}

.top_info {
  // .top_info--item
  &--item {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 3px 6px #00000029;

    &:not(:last-child) {
      margin: 0 auto 15px;
    }

    a {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  // .top_info--cat
  &--cat {
    padding: 5px;
    margin-left: 10px;
    color: #fff;
    background: #004ea2;
    border-radius: 5px;
  }
}

.top_area {
  img {
    display: block;
    margin: 0 auto 40px;
  }

  p {
    width: 100%;
    max-width: 1100px;
    padding: 30px;
    margin: auto;
    font-size: var(--fz18);
    font-weight: 700;
    text-align: center;
    border: 10px solid #c9c9c9;
  }
}


