@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  トップ専用
// ---------------------------------------------

.top_mv_01 {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding: 0 min(4vw, 25px);
  }

  li {
    box-sizing: border-box;
    width: 290px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;

    span {
      position: relative;

      &::after {
        position: absolute;
        top: 50%;
        left: -35px;
        display: inline-block;
        width: 50px;
        height: 50px;
        content: "";
        background: url(../img/top/icon_check.svg) no-repeat left 11px center / 15px;
        transform: translateY(-50%);
      }
    }
  }

  //.top_mv_01--contents
  &--contents {
    position: absolute;
    top: 50%;
    left: 33%;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    padding: 0 min(4vw, 25px);
    margin: auto;
    transform: translate(-50%, -50%);

    @media (width <= 1480px) {
      max-width: 900px;
    }

    @media (width <= 1280px) {
      left: 40%;
    }

    @include tb-mq {
      top: 42%;
      left: 50%;
      max-width: none;
      padding: 0 5px;
    }
  }

  //.top_mv_01--lead
  &--lead {
    position: relative;
    display: block;
    width: fit-content;
    padding: 0 60px;
    margin: auto;
    font-size: 2.7604166667vw;
    font-weight: bold;
    color: #fff;
    border-bottom: 3px solid #fff;

    &::before,
    &::after {
      position: absolute;
      bottom: -17px;
      width: 3px;
      height: 30px;
      content: "";
      background: #fff;
      transform: rotate(30deg);
    }

    &::before {
      right: 30px;
    }

    &::after {
      right: 15px;
    }

    span {
      font-size: min(var(--fz48), 2.5vw);
    }

    @include tb-mq {
      padding: 0 15px;
      font-size: 7vw;
    }
  }

  //.top_mv_01--mark
  &--mark {
    display: flex;
    align-items: center;
    align-self: self-end;
    justify-content: center;
    width: 110px;
    height: 110px;
    font-size: var(--fz21);
    font-weight: 700;
    color: #fff;
    background: #ff0041;
    border: 3px solid #fff;
    border-radius: 50%;

    @media (width <= 1480px) {
      width: 100px;
      height: 100px;
      font-size: var(--fz22);
    }

    @media (width <= 1280px) {
      width: 80px;
      height: 80px;
      font-size: var(--fz16);
    }

    @include tb-mq {
      width: 17vw;
      height: 17vw;
      font-size: 3.5vw;
    }
  }

  //.top_mv_01--dayprice
  &--dayprice {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    width: fit-content;
    padding: 0 40px;
    margin: 20px auto 0;
    background: linear-gradient(to bottom, transparent 0%, transparent 25%, rgb(255 255 255 / 90%) 25%, rgb(255 255 255 / 90%) 90%, transparent 90%, transparent 100%);

    p {
      font-size: var(--fz35);
      font-weight: 900;
      color: $color-blue2;
    }

    b {
      font-size: var(--fz92);
      font-weight: 900;
      line-height: 1;
      color: #ff0041;
      -webkit-text-stroke-width: 0.15vw;
      -webkit-text-stroke-color: #fff;
    }

    @media (width <= 1480px) {
      p {
        font-size: var(--fz35);
      }

      b {
        font-size: var(--fz85);
      }
    }

    @media (width <= 1280px) {
      padding: 0 20px;

      p {
        font-size: var(--fz25);
      }
    }

    @include tb-mq {
      gap: 5px;
      padding: 0 5px;

      p {
        font-size: 4vw;
      }

      b {
        font-size: 14vw;
        -webkit-text-stroke-width: 0.5vw;
      }
    }
  }

  //.top_mv_01--one
  &--one {
    font-size: var(--fz45);

    .top_mv_01--weekprice & {
      font-size: var(--fz85);
    }

    @include tb-mq {
      font-size: var(--fz70);
    }

    @include max-mq {
      font-size: 6vw;

      .top_mv_01--weekprice & {
        font-size: 9vw;
      }
    }
  }

  //.top_mv_01--yen
  &--yen {
    font-size: 2.8vw;
    font-weight: 900;
    color: #ff0041;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;

    .top_mv_01--weekprice & {
      font-size: 3.5vw;
      color: #f8ff36;
      -webkit-text-stroke-width: 0;
      -webkit-text-stroke-color: unset;
    }

    @media (width <= 1480px) {
      font-size: var(--fz50);
    }

    @include max-mq {
      font-size: 7.5vw;
      -webkit-text-stroke-width: 0.5vw;

      .top_mv_01--weekprice & {
        font-size: 8vw;
      }
    }
  }

  //.top_mv_01--taxin
  &--taxin {
    font-size: 1.4vw;

    .top_mv_01--weekprice & {
      font-size: var(--fz45);
      color: #fff;
    }

    @include max-mq {
      font-size: 3vw;

      .top_mv_01--weekprice & {
        font-size: 4vw;
      }
    }
  }

  //.top_mv_01--weekprice
  &--weekprice {
    position: relative;
    width: fit-content;
    margin: auto;
    font-size: var(--fz70);
    font-weight: 900;
    color: #fff;

    strong {
      text-shadow: 0 0 30px rgb(255 255 255 / 80%);
      background: linear-gradient(to bottom, transparent 0%, transparent 70%, #00234f 70%, #00234f 100%);
    }

    b {
      font-size: var(--fz145);
      font-weight: 900;
      color: #f8ff36;
    }

    @media (width <= 1480px) {
      b {
        font-size: var(--fz120);
      }
    }

    @include tb-mq {
      font-size: 6vw;

      b {
        font-size: 15.5vw;
      }
    }
  }

  //.top_mv_01--dots
  &--dots {
    position: relative;

    &::before {
      position: absolute;
      top: 5px;
      right: 0;
      left: 0;
      padding-top: 25px;
      margin: auto;
      content: "";
      background: radial-gradient(circle 13px, #fa9315 50%, transparent 50%);
    }

    @media (width <= 1200px) {
      &::before {
        top: -5px;
      }
    }

    @include max-mq {
      &::before {
        background: radial-gradient(circle 2vw, #fa9315 50%, transparent 50%);
      }
    }
  }

  //.top_mv_01--bg
  &--bg {
    img {
      width: 100%;
      height: auto;
    }

    @media (width <= 1650px) {
      img {
        height: 50vw;
        object-fit: cover;
      }
    }

    @media (width <= 1480px) {
      img {
        height: 700px;
        object-fit: cover;
        object-position: 57%;
      }
    }

    @media (width <= 1280px) {
      img {
        width: 100%;
        height: 60vw;
        object-position: 60%;
      }
    }

    @include tb-mq {
      img {
        height: auto;
        object-position: unset;
      }
    }
  }

  @media (width <= 1400px) {
    ul {
      gap: 10px;
    }
  }

  @media (width <= 1280px) {
    li {
      width: 34%;
    }
  }

  @include tb-mq {
    ul {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    li {
      width: 55%;
      padding: 10px 0;
      background: url(../img/top/icon_check.svg) no-repeat left 6vw center / 15px;

      span {
        &::after {
          content: none;
        }
      }
    }
  }

  @include max-mq {
    li {
      width: 100%;
      font-size: var(--fz14);
      background: url(../img/top/icon_check.svg) no-repeat left 6vw center / 15px;
    }
  }
}


.top_mv_02 {
  strong {
    display: block;
    font-size: 2.34375vw;
    font-weight: 800;
    color: #ff0041;
    text-align: center;
  }

  h2 {
    width: max-content;
    margin: auto;
    margin-block: 0 10px;
    font-size: var(--fz65);
    font-weight: 900;
    color: #00234f;
  }

  b {
    font-size: var(--fz160);
    font-weight: 900;
    line-height: 1;
    color: #ff0041;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #fff;
  }

  img {
    display: block;
    margin: auto;
  }

  //.top_mv_02--contents
  &--contents {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 100%;
    padding: 0 min(4vw, 25px);
    transform: translate(-50%, -50%);

    .top_mv_01--one {
      font-size: var(--fz85);
    }

    .top_mv_01--yen {
      font-size: var(--fz90);
      -webkit-text-stroke-width: 5px;
    }

    .top_mv_01--taxin {
      font-size: var(--fz50);
    }
  }

  //.top_mv_02--lead
  &--lead {
    width: fit-content;
    padding: 10px 30px 10px 90px;
    margin: 0 auto 30px;
    font-size: 1.8229166666666667vw;
    font-weight: 800;
    color: #008cfd;
    background: url(../img/top/icon_car.svg) no-repeat left 4% center / 51px 32px, #fff;
    border: 3px solid #008cfd;
    border-radius: 1000px;
  }

  //.top_mv_02--marker
  &--marker {
    padding: 0 25px;
    background: linear-gradient(to bottom, transparent 0%, transparent 50%, #fff100 50%, #fff100 90%, transparent 90%, transparent 100%);
  }

  //.top_mv_02--txt
  &--txt {
    margin-bottom: 40px;
    font-size: var(--fz25);
    font-weight: 700;
    text-align: center;

    span {
      &:first-of-type {
        color: #fa9315;
      }

      &:last-of-type {
        color: #008cfd;
      }
    }
  }

  //.top_mv_01--bg
  &--bg {
    img {
      width: 100%;
      height: auto;
    }

    @media (width <= 1200px) {
      img {
        width: 100%;
        height: 48vw;
        object-fit: cover;
      }
    }

    @include max-mq {
      img {
        height: 140vw;
      }
    }
  }
}

